
html{
  top: 0;
  background-color: #282c34;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  width: 100%;
}

.container-lg{
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
